{% extends "base.html" %}

{% block content %}
<h1 class ="title">HI, {{ user }}!</h1>
<h1 class ="title"><a href="/pie/{{ tel_id }}/{{ dates[0] }}"> <-{{dates[0]}}- </a>   <a href="/pie/{{ tel_id }}/{{ dates[2] }}"> -{{dates[2]}}-> </a></h1>
<div id=pulse ></div>
<script>

	PULSE = document.getElementById('pulse');


  Plotly.plot( PULSE, [
      {
        {% if data %}
          labels: [{% for theme in themes %} '{{ theme }}', {% endfor %}],
          values: [{% for theme in themes %} {{ data[theme] }}, {% endfor %}],
          name: '{{ user }}',
          type: 'pie',
          autosize: true,
        {% endif %}
      },
      ]);
</script>

{% endblock %}
