{% extends "base.html" %}

{% block content %}
<h1 class ="title">Данные GoTo за {{ dates[1] }}!</h1>
<h1 class ="title"><a href="/all_users/{{ dates[0] }}"> <-{{dates[0]}}- </a>   <a href="/all_users/{{ dates[2] }}"> -{{dates[2]}}-> </a></h1>
<div id=pulse ></div>
<script>


  var layout = {
      autosize:true,
      grid: {rows: {{rows}} , columns: {{ cols }}}
    }

	PULSE = document.getElementById('pulse');


  Plotly.plot( PULSE, [
      {% for user in data %}
      {
          labels: [{% for theme in themes %}'{{ theme }}', {% endfor %}],
          values: [{% for theme in themes %}{{ data[user][theme] }}, {% endfor %}],
          name: '{{ user }}',
          type: 'pie',
          domain: {
              row: {{ data[user]["row"] }},
              column: {{ data[user]["col"] }}
          },
          hoverinfo: 'label+percent+name',
          textinfo: 'none'
      },
      {% endfor %}
      ], layout);
</script>

{% endblock %}
